* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #727272;
    padding: 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.menu a:hover {
    background-color: #39aae1;
    color: white;
}

.menu a.active{
    background-color: #39aae1;
    color: white;
}

.banner {
    background-image: url(../img/img1.jpg);
    height: 850px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.container-column {
    display: flex;
    flex-direction: column;
    width: 75%;
}

#txt {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#txt h1 {
    font-size: 4em;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    text-shadow: 0px 1px 1px black;
}

#txt h2 {
    font-family: 'Montserrat';
    text-shadow: 1px 1px 1px black;
}

#options {
    height: 250px;
    background-color: rgba(245, 245, 245, 0.527);
    display: flex;
    color: white;
}

#banner1, #banner2, #banner3{
    flex: 1;
    padding: 20px;
}

#banner1 h2, #banner2 h2, #banner3 h2 {
    font-family: 'Montserrat';
    margin-bottom: 25px;
}

#banner1 {
    background-color: #39aae1;
}

#banner2 {
    background-color: #0079c7;
}

#banner3 {
    background-color: #2b4c99;
    
}

.btn1 {
    margin-top: 35px;
    height: 35px;
    width: 110px;
    background-color: transparent;
    border: 1.5px solid white;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.btn2 {
    margin-top: 35px;
    height: 35px;
    width: 110px;
    background-color: transparent;
    border: 1.5px solid white;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn1:hover {
    color: #39aae1;
    background-color: white;
}
.btn2:hover {
    color: #0079c7;
    background-color: white;
}

#ho1, #ho2, #ho3 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
    padding-bottom: 15px;
}

#ho2, #ho3 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.news {
    width: 75%;
    margin: auto;
    padding-bottom: 500px;
}

.container-news {
    display: flex;
    justify-content: space-between;
}

.news section {
    flex: 2;
}

.news aside {
    flex: 1;
}

.title {
    font-size: 18px;
    margin-top: 30px;
}

.title .barra {
    width: 70px;
    margin-top: 10px;
    background-color: #39aae1;
    height: 2px;
    border: none;
}

.title-h2 {
    font-family:'Montserrat';
    font-weight: bold;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#details-more  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(100, 100, 100, 0.589);
    color: #727272;
}

#details-more div h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #727272;
}

article {
    flex: 1;
    min-width: 35%;
    margin-right: 20px;
}

.news-data {
    display: flex;
    margin-top: 30px;
}

.news-data .posted {
    background-color: #2b4c99;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.news-data .comments {
    background-color: #39aae1;
    padding: 10px;
    margin-left: 2px;
    color: white;
}

.news-img img {
    margin-top: 20px;
    width: 100%;
    object-fit: cover;
    height: auto;
}

.news-title {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.body-cubes {
    display: flex;
    flex-wrap: wrap;
}

.body-cubes div {

    width: 150px;
    height: 150px;
    background-color: #0079c7;
    margin: 10px;
}

.body-footer p {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
